@import url(https://fonts.google.com/specimen/Poppins);
@import url(https://fonts.google.com/specimen/Open+Sans);
.Main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  background-image: url(./images/bg-mobileV2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.containerMain {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  padding: 30px;
  row-gap: 20px;
}
.containerMain div {
  grid-column: 1/2;
}
.containerMain div:nth-child(1) {
  grid-row: 1/2;
}
.containerMain div:nth-child(1) img {
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.containerMain div:nth-child(2) {
  grid-row: 2/3;
}
.containerMain div:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.containerMain div:nth-child(3) {
  grid-row: 3/4;
}
.containerMain div:nth-child(3) h1 {
  color: #fff;
  font-weight: 600;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  text-align: center;
}
.containerMain div:nth-child(4) {
  grid-row: 4/5;
  display: grid;
  justify-items: center;
}
.containerMain div:nth-child(4) p {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 13px;
  width: 95%;
  height: 100%;
  line-height: 1.5;
}
.containerMain div:nth-child(5) {
  display: grid;
  justify-items: center;
  grid-row: 5/6;
}
.containerMain div:nth-child(5) input {
  border-radius: 40px;
  background: #fff;
  border: none;
  color: #674baf;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding: 5px 60px;
  text-transform: capitalize;
}
.containerMain div:nth-child(6) {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row: 6/7;
  justify-content: center;
  column-gap: 10px;
}
.containerMain div:nth-child(6) input {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerMain {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 8%);
    padding: 30px;
    column-gap: 30px;
  }
  .containerMain div:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .containerMain div:nth-child(1) img {
    width: 200px;
    height: auto;
  }
  .containerMain div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .containerMain div:nth-child(2) img {
    width: 350px;
    height: 300px;
  }
  .containerMain div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .containerMain div:nth-child(3) h1 {
    text-align: left;
  }
  .containerMain div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-items: start;
  }
  .containerMain div:nth-child(4) p {
    text-align: left;
  }
  .containerMain div:nth-child(5) {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-content: start;
  }
  .containerMain div:nth-child(5) input {
    height: 40px;
  }
  .containerMain div:nth-child(6) {
    grid-column: 1/3;
    grid-row: 6/7;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .containerMain {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 30px;
  }
  .containerMain div {
    grid-column: 1/2;
  }
  .containerMain div:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/3;
    background: yellow;
  }
  .containerMain div:nth-child(2) {
    background: lime;
    grid-row: 2/5;
  }
  .containerMain div:nth-child(3) {
    background: red;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .containerMain div:nth-child(4) {
    background: red;
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .containerMain div:nth-child(5) {
    background: red;
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .containerMain div:nth-child(6) {
    grid-column: 1/3;
    grid-row: 5/6;
    background: orange;
  }
}
.containerFooter {
  display: grid;
  justify-items: center;
  background: #000;
  width: 100%;
}
.containerFooter p {
  color: #fff;
  text-align: center;
}
.containerFooter a {
  color: #FF3F00;
  text-transform: capitalize;
  text-decoration: none;
}
.containerFooter:hover {
  text-decoration: underline;
}
.containerFooter a:last-child {
  text-transform: lowercase;
}/*# sourceMappingURL=styles.css.map */